.containerCard {
  max-width: 1184px;
  border-radius: 24px;
  background-color: #fbfbfb;
  display: flex;
  gap: 20px;
  padding: 24px;
  /*margin: 0 auto;*/
}

.imgBlock {
  width: 120px;
  height: 120px;
  border-radius: 30px;
  border: 2px solid #f03f3b33;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.avatar {
  width: 96px;
  height: 96px;
  border-radius: 15px;
}

.elipse {
  position: absolute;
  top: 9px;
  left: 92px;
}

.cardInfo {
  width: 992px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nannieInfoHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.cardTextNannies {
  font-size: 16px;
  color: #8a8a89;
  font-weight: 500;
  line-height: 1.5;
}

.cardNanniesName {
  font-size: 23px;
  font-weight: 500;
  line-height: 1;
  color: #11101c;
}

.nannieNameBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 186px;
}

.nannieCategoryBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categoryInfo {
  display: flex;
  gap: 8px;
  width: 421px;
}

/* .location {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #11101c;
} */

.location,
.rating {
  display: flex;
  gap: 8px;
  color: #11101c;
}
.star {
  width: 16px;
  height: 16px;
}
.price {
  margin-left: 8px;
}
.priceHour {
  color: #38cd3e;
}

.heart {
  margin: 0;
  padding: 0;
}

.nanniePersonalInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.nanniePersonalInfo > li {
  background-color: #f3f3f3;
  padding: 8px 16px;
  border-radius: 24px;
  color: #11101c;
}

.ageValue {
  text-decoration: underline;
}

.nannieDescription {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #11101c;
  opacity: 0.5;
}

.nannieLink {
  text-decoration: underline;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #11101c;
}
.reviews {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.userReviewsInfo {
  display: flex;
  flex-direction: column;
}

.reviewsRating {
  display: flex;
}
