.containerCard {
  max-width: 1184px;
  border-radius: 24px;
  background-color: #fbfbfb;
  display: flex;
  gap: 20px;
  padding: 24px;
  /*margin: 0 auto;*/
}

.imgBlock {
  width: 120px;
  height: 120px;
  border-radius: 30px;
  border: 2px solid #f03f3b33;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.avatar {
  width: 96px;
  height: 96px;
  border-radius: 15px;
}

.elipse {
  position: absolute;
  top: 9px;
  left: 92px;
}

.cardInfo {
  width: 992px;
}

.nannieInfoHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.cardNanniesName {
  font-size: 23px;
  font-weight: 500;
  line-height: 1;
}

.nannieNameBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 186px;
}

.nannieCategoryBlock {
  width: 421px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.location,
.rating {
  display: flex;
  gap: 8px;
}
.star {
  width: 16px;
  height: 16px;
}
.price {
  margin-left: 8px;
}
.priceHour {
  color: #38cd3e;
}

.heart {
  margin: 0;
  padding: 0;
}
