.wrapper {
  /* max-width: 1440px; */
  margin: 0 auto;
  padding: 32px 32px;
  background-color: #ffffff;
}

.homeContainer {
  background-color: #f03f3b;
  border-radius: 30px;
  width: 1376px;
  background-image: url(/src/assets/home-img.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 699px auto;
  height: auto;
}

.homeContainer::before {
  content: '';
  display: block;
  position: relative;
  top: 90px;
  width: 100%;
  background-color: #fbfbfb66;
  height: 1px;
  border: 1px;
}
