.navForm {
  display: flex;
  width: 533px;
  gap: 92px;
  padding: 8px 0;
  align-items: center;
}

/* .navigation {
  width: 533px;
  display: flex;
  gap: 92px;
} */

.buttonContainer {
  display: flex;
  gap: 8px;
}

.linkContainer {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 40px;
  color: #ffffff;
}

.linkRegister {
  display: inline-flex;
  width: 170px;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  background-color: #f03f3b;
  padding: 14px 40px;
}

.linkLogin {
  display: inline-flex;
  width: 124px;
  display: flex;
  gap: 8px;
  border: 1px solid #fbfbfb66;
  border-radius: 30px;
  padding: 14px 38px;
  background-color: transparent;
  color: #ffffff;
}
